<div class="container-fluid bg-header d-flex">
  <div class="d-flex height-nav-bar" [class.bg-active-menu]="navbarOpen">
    <nav class="navbar navbar-expand-lg navbar-light w-100 menu-height-control">

      <div class="navbar-brand d-flex direction-mobile">
        <div class="align-self-center" (click)="onClickLogo()">
          <img src="/assets/images/logo-red.png" routerLink="/" alt="Hooops Website" class="hooops-logo h-auto">
        </div>

      </div>
      <button class="navbar-toggler d-lg-none d-block" style="border: none;" type="button" (click)="toggleNavbar()"
        role="button" aria-hidden="true">
        <i class="fa fa-bars fa-lg fa-inverse" style="color: black; font-size: 25px;" aria-hidden="true"></i>
      </button>
      <div
         class="navbar-collapse align-items-center justify-content-end text-right collapse menu-height-collpase-control d-lg-flex d-none"
        [ngClass]="{ 'show': navbarOpen }">
        <!-- <button mat-button [matMenuTriggerFor]="join" class="menu-text">ร่วมงานกับเรา
              <img src="assets/images/down-arrow.png" class="dropdown-img my-auto">
            </button>
            <mat-menu #join="matMenu" yPosition="below">
              <button mat-menu-item class="menu-sub-text" (click)="clickFullTime()">งานประจำ</button>
              <button mat-menu-item class="menu-sub-text" (click)="clickPastTime()">ฝึกงาน</button>
            </mat-menu> -->

        <button mat-button class="btn menu-control-padding menu-text" routerLinkActive="menu-header-active"
          [routerLinkActiveOptions]="{exact: true}" routerLink="/our-service" (click)="clickService()"> <span
            routerLinkActive="text-menu-border" [routerLinkActiveOptions]="{exact: true}">SERVICES</span>
        </button>

        <button mat-button class="btn menu-control-padding menu-text" routerLinkActive="menu-header-active"
          [routerLinkActiveOptions]="{exact: true}" routerLink="/cryptowealth" (click)="clickCryptoWealth()"> <span
            routerLinkActive="text-menu-border" [routerLinkActiveOptions]="{exact: true}">CRYPTOWEALTH</span>
        </button>
        <button mat-button class="btn menu-control-padding menu-text" routerLinkActive="menu-header-active"
        [routerLinkActiveOptions]="{exact: true}" routerLink="/baby-shark" (click)="clickLicensing()"> <span
          routerLinkActive="text-menu-border" [routerLinkActiveOptions]="{exact: true}">LICENSING</span>
      </button>


        <!-- <button mat-button class="btn menu-control-padding menu-text" routerLinkActive="menu-header-active"
          [routerLinkActiveOptions]="{exact: true}" routerLink="/licensing" (click)="clickLicensing()"><span
            routerLinkActive="text-menu-border" [routerLinkActiveOptions]="{exact: true}">LICENSING</span>

        </button> -->
        <button mat-button class="btn menu-control-padding menu-text" (click)="clickContact()"><span
           >CONTACT</span>

        </button>

      </div>
    </nav>
  </div>
</div>

<div class="container-fluid menu-side-control d-flex d-lg-none flex-column" *ngIf="navbarOpen"
  style="padding-left: 0px; padding-right: 0px;" (click)="toggleNavbar()">

  <div class="menu-open-control ml-auto h-100">
   
    <div class="d-flex flex-column">
      <div class="button-list-control">
        <button mat-button class="btn menu-control-padding menu-text"  routerLink="/our-service" (click)="clickService()"> <span
            routerLinkActive="text-menu-border">SERVICES</span>
        </button>
      </div>
      <div class="button-list-control">
        <button mat-button class="btn menu-control-padding menu-text"routerLink="/cryptowealth" (click)="clickCryptoWealth()"><span
            routerLinkActive="text-menu-border" >CRYPTOWEALTH</span>
        </button>
      </div>
      <div class="button-list-control">
        <button mat-button class="btn menu-control-padding menu-text"routerLink="/baby-shark" (click)="clickLicensing()"><span
            routerLinkActive="text-menu-border" >LICENSING
          </span>
        </button>
      </div>
      <div class="button-list-control">
        <button mat-button class="btn menu-control-padding menu-text" (click)="clickContact()"><span
            routerLinkActive="text-menu-border" >CONTACT</span>

        </button>
      </div>
     
    </div>
  </div>

</div>
<div style=" margin-bottom: -60px;" *ngIf="!isShow"></div>
