<app-header id="header"></app-header>
<div class="container-fluid bg-container">

  <div class="section-1-control">
    <img src="assets/images/baby-shark/section-1.png" class="section-1-img">

  </div>
  <div class="section-2-control d-flex flex-column">
    <div class="text-bg-control">

      <div class="text-size">
        <span style="color: #FE5AA8;">Sing Along <span style="color: #005CEF;">With </span>
          <span style="color: #FFD61A;">Baby Shark</span>
        </span>
      </div>
    </div>

    <img src="assets/images/baby-shark/about-baby-shark.png" class="img-2 mx-auto d-none d-md-block">

    <div class="d-flex d-md-none flex-column justify-content-center">
      <img src="assets/images/mobile/baby-shark/circle-baby-shark.png" class="circle-baby-shark mx-auto">
      <div class="background-desc-white d-flex flex-column">
        <span class="text-red">HOOOP is a Pinkfong Baby Shark’s official authorized licensing agent in Thailand.</span>
        <span class="text-black">Pinkfong is a global entertainment brand that creates award-winning kids’ content for
          families around the world. The brand’s flagship IP “Pinkfong Baby Shark” became a breakout sensation when it
          was launched on Pinkfong’s YouTube channel in November 2015. “Pinkfong Baby Shark” took the world by storm
          amassing 88 billion views as of June 2021 becoming the No.1 most viewed YouTube video, while reaching the
          world’s first RIAA certified diamond status as a children’s single for surpassing 10 million unit sales in the
          US.</span>
      </div>
    </div>

    <div class="stat-control">
      <div class="number-control mx-auto">
        <div class="number-1-control d-flex flex-column">
          <div class="grid-row-1-control">
            <div class="left-control d-flex flex-column">

              <span class="number-header mx-auto">5,000</span>
              <span class="number-desc mx-auto">Songs & Stories</span>
              <div class="border-bottom"></div>
              <div class="border-right"></div>
            </div>
            <div class="right-control d-flex flex-column">

              <span class="number-header mx-auto">82,984,700</span>
              <span class="number-desc mx-auto">YouTube Subscribers</span>
              <div class="border-bottom"></div>
            </div>

            <div class="left-control d-flex flex-column">

              <span class="number-header mx-auto">340,107,169</span>
              <span class="number-desc mx-auto">App Downloads</span>
              <div class="border-right"></div>

            </div>
            <div class="right-control d-flex flex-column">

              <span class="number-header mx-auto">40,050,592,149</span>
              <span class="number-desc mx-auto">YouTube Views</span>
            </div>
          </div>
          <button class="mx-auto button-pinkfong" (click)="clickWebsite()">Pinkfong Baby Shark’s Official
            Website</button>
          <span class="mx-auto text-pinkfong">*data as of 21/07/15</span>
        </div>
        <div class="d-flex number-2-control">
          <img src="assets/images/baby-shark/youtube-section.png" class="img-youtube" (click)="clickVDOYoutube()">
        </div>

        <div class="d-flex justify-content-center number-3-control">
          <img src="assets/images/baby-shark/left-youtube.png" class="youtube-left-img" (click)="clickYoutubeInter()">
          <img src="assets/images/baby-shark/right-youtube.png" class="youtube-right-img"
            (click)="clickYoutubeThailand()">
        </div>
      </div>

      <div class="channel-control d-none d-md-flex flex-column">

        <img src="assets/images/baby-shark/youtube-baby-shark.png" class="img-youtube" (click)="clickYoutube()">
        <img src="assets/images/baby-shark/facebook-baby-shark.png" class="img-facebook" (click)="clickFacebook()">
      </div>
    </div>

  </div>
  <div class="section-3-control">
    <div class="d-flex mx-auto">
      <span class="my-auto text-collaboration">Collaboration</span>

    </div>
    <div class="d-flex flex-column">


      <div class="logo-grid-control my-auto">

        <div class="border-control d-flex">
          <img src="assets/images/baby-shark/logo_GQ.png" class="img-logo my-auto mx-auto" (click)="clickGQ()">
        </div>

        <div class="border-control d-flex">
          <img src="assets/images/baby-shark/logo_masita.png" class="img-logo my-auto mx-auto" (click)="clickMashita()">

        </div>
      </div>
      <button class="mx-auto button-be-partnership" (click)="clickBePartnership()">Be a partnership</button>
    </div>
  </div>


</div>
