<app-header id="header"></app-header>
<div class="container-fluid bg-container">

  <div class="container section-1-control">
    <img src="assets/images/baby-shark/section-1.png" class="section-1-img">

  </div>
  <div class="container section-2-control d-flex flex-column">
    <div class="text-bg-control">

      <div class="text-size">
        <span style="color: #FE5AA8;">Sing Along <span style="color: #005CEF;">With </span>
          <span style="color: #FFD61A;">Baby Shark</span>
        </span>
      </div>
    </div>

    <img src="assets/images/baby-shark/about-baby-shark.png" class="img-2 mx-auto">

    <div class="stat-control">
      <div class="number-control mx-auto">
        <div class="number-1-control d-flex flex-column">
          <div class="grid-row-1-control">
            <div class="left-control d-flex flex-column">

              <span class="number-header mx-auto">5,000</span>
              <span class="number-desc mx-auto">Songs & Stories</span>
              <div class="border-bottom"></div>
              <div class="border-right"></div>
            </div>
            <div class="right-control d-flex flex-column">

              <span class="number-header mx-auto">82,984,700</span>
              <span class="number-desc mx-auto">YouTube Subscribers</span>
              <div class="border-bottom"></div>
            </div>

            <div class="left-control d-flex flex-column">

              <span class="number-header mx-auto">340,107,169</span>
              <span class="number-desc mx-auto">App Downloads</span>
              <div class="border-right"></div>
             
            </div>
            <div class="right-control d-flex flex-column">

              <span class="number-header mx-auto">40,050,592,149</span>
              <span class="number-desc mx-auto">YouTube Views</span>
            </div>
          </div>
          <button class="mx-auto button-pinkfong">Pinkfong Baby Shark’s Official Website</button>
          <span class="mx-auto text-pinkfong">*data as of 21/07/15</span>
        </div>
      </div>
    </div>

  </div>


</div>
