<div class="container-fluid bg-header-control d-none d-lg-flex">
  <img src="assets/images/tower.png" class="tower-img">
  <div class="container d-flex mx-auto container-control flex-column">
    <img src="assets/images/logo-white-big.png" class="logo-big-img mx-auto">
    <button class="button-get-start mx-auto" (click)="clickGetStart()">GET STARTED</button>
  </div>

</div>
<app-header id="header" [pageLink]="false"></app-header>
<div class="container-fluid bg-default">
  <div class="section-1-control d-none d-md-flex" id="section1">
    <div class="absolute-control d-flex flex-column">
      <div class="header-control">
        <span class="text-header-red" [innerHtml]="'HOME.section_1_1' | translate">
        </span>
      </div>
      <div class="img-circle-control img-absolute-control mx-auto d-flex flex-column">
        <img src="assets/images/home-sec-1-absolute-img.png" class="mx-auto my-auto img-absolute">
        <button class="button-view-more mx-auto" (click)="clickMoreCreative()">View more</button>
      </div>
    </div>
    <div class="section-1-grid-control">
      <img src="assets/images/bg_home2.png" class="img-bg">
      <div class="section-1-left-control d-flex">
        <div class="mt-auto d-flex flex-column mx-auto">
          <div class="img-circle-control d-flex mx-auto">
            <img src="assets/images/baby-shark.png" class="mx-auto my-auto img-control">
          </div>
          <span class="text-desc mx-auto" [innerHtml]="'HOME.section_1_2' | translate">
           
          </span>
          <button class="button-view-more mx-auto" (click)="clickBabyShark()">View more</button>
        </div>
      </div>
      <div class="section-1-right-control d-flex">
        <div class="mt-auto d-flex flex-column mx-auto">
          <div class="img-circle-control d-flex mx-auto">
            <img src="assets/images/crypto-wealth.png" class="mx-auto my-auto img-control">
          </div>
          <span class="text-desc mx-auto" [innerHtml]="'HOME.section_1_3' | translate">
            
          </span>
          <button class="button-view-more mx-auto" (click)="clickCryptoWealth()">View more</button>
        </div>
      </div>
    </div>
  </div>

  <div class="section-1-mobile-control d-flex d-md-none">
    <div class="d-flex flex-column">
      <img src="assets/images/mobile/home/section-1-1.png" class="mx-auto img-control" (click)="clickMoreCreative()">
      <img src="assets/images/mobile/home/section-1-2.png" class="mx-auto img-control" (click)="clickCryptoWealth()">
      <img src="assets/images/mobile/home/section-1-3.png" class="mx-auto img-control" (click)="clickBabyShark()">
    </div>
  </div>

  <div class="section-2-control d-none d-md-flex" id="section2">

    <div class="container d-flex flex-column">

      <div class="d-inline underline">
        <span class="text-header-red">HOOOP <span class="text-header">Provides creative solutions for your
            Business</span></span>
      </div>
      <div class="what-we-do-text d-flex flex-column">
        <span class="what-text">WHAT <span class="we-do-text">WE DO</span></span>
        <div class="grid-control">
          <div class="grid-column d-flex flex-column">
            <div class="red-header-control d-flex">
              <span class="red-header-text mx-auto my-auto">Strategy</span>
            </div>
            <div class="white-border-control d-flex flex-column">
              <img class="img-white-border" src="assets/images/home-sec-2-img-1.png">
              <span class="text-desc mx-auto">Analyze your target insight and develop communication plan for your products and services.</span>
            </div>
          </div>
          <div class="grid-column d-flex flex-column">
            <div class="red-header-control d-flex">
              <span class="red-header-text mx-auto my-auto">Creative</span>
            </div>
            <div class="white-border-control d-flex flex-column">
              <img class="img-white-border" src="assets/images/home-sec-2-img-2.png">
              <span class="text-desc mx-auto">Unlock the potential of your brand and explore the new side of your products with our professional, young, fresh, and energetic creative crews.</span>
            </div>
          </div>
          <div class="grid-column d-flex flex-column">
            <div class="red-header-control d-flex">
              <span class="red-header-text mx-auto my-auto">Media Buying</span>
            </div>
            <div class="white-border-control d-flex flex-column">
              <img class="img-white-border" src="assets/images/home-sec-2-img-3.png">
              <span class="text-desc mx-auto">Complement your digital marketing plan with experienced media buyer team. Our service varies from Facebook Ads to Search Engine Marketing (SEM).</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="section-2-mobile-control d-flex d-md-none">
      <div class="container d-flex flex-column">
        <div class="d-inline underline-mobile">
          <span class="text-header-red">HOOOP <span class="text-header">Provides creative solutions for your
              Business</span></span>
        </div>
        <div class="what-we-do-text d-flex flex-column">
          <span class="what-text">WHAT <span class="we-do-text">WE DO</span></span>
          <div class="grid-control">
            <img src="assets/images/mobile/home/section-2-1.png" class="mx-auto img-control">
            <img src="assets/images/mobile/home/section-2-2.png" class="mx-auto img-control">
            <img src="assets/images/mobile/home/section-2-3.png" class="mx-auto img-control">
          </div>
        </div>
      </div>
  </div>

  <div class="container container-control section-3-control" id="section3">

    <div class="d-flex flex-column">
      <span class="text-header-red">OUR <span class="text-header-white">SUCCESS</span></span>

      <div class="grid-control mx-auto">
        <div class="grid-column-control d-flex flex-column">
          <span class="number-text mx-auto">31</span>
          <span class="desc-text">Clients</span>
        </div>
        <div class="grid-column-control d-flex flex-column">
          <span class="number-text mx-auto">42</span>
          <span class="desc-text">Projects</span>
        </div>
        
      </div>
    </div>
  </div>
  <div class="section-4-control" id="section4" *ngIf="jsonOurSuccess">
    <div class="container container-control">
      <div class="main-carousel overlap-control mx-auto justify-content-center">
        <div class="carousel-cell ">
          <div class="carousel-grid-control">
            <div class="img-control" *ngFor="let img of jsonOurSuccess">
              <img src="{{img.image}}" class="img-customer">
            </div>

          </div>
        </div>
      
        
      </div>
    </div>
   
  </div>
  <div class="container d-flex  d-none d-md-flex">
    <button class="mx-auto button-more-creative text-center" (click)="clickMoreCreative()">MORE CREATIVE</button>
  </div>
  <div class="container section-5-control" id="section5">
    <div class="d-flex flex-column">
      <div class="d-flex d-md-none">
        <youtube-player videoId="mzomUhNCWoA" class="my-auto mx-auto w-100" (click)="clickYoutube()"></youtube-player>
      </div>
      
      <span class="text-header-red">OUR <span class="text-header-white">ARTICLES</span></span>

      <div class="grid-control my-auto">

        <div class="grid-left-control my-auto">
          <div class="d-flex flex-column item-control" (click)="clickArticle('Audience Insight', '/articles/audience-insights')">
            <img src="assets/images/home-sec-5-img-1.png" class="img-grid mx-auto">
            <span class="mx-auto text-center text-desc">จับลูกค้าให้อยู่หมัดด้วย  Audience Insights</span>
          </div>
          <div class="d-flex flex-column item-control" (click)="clickArticle('ธุรกิจสีดอกเลา' , '/articles/ธุรกิจสีดอกเลา')">
            <img src="assets/images/home-section-5-img-2.png" class="img-grid mx-auto">
            <span class="mx-auto text-center text-desc">ธุรกิจสีดอกเลา  กลุ่มคนกำลังซื้อสูงที่ถูกมองข้าม</span>
          </div>
          <div class="d-flex flex-column item-control" (click)="clickArticle('compare 5 Jobboards' , '/articles/5-jobboards')">
            <img src="assets/images/home-section-5-img-3.png" class="img-grid mx-auto">
            <span class="mx-auto text-center text-desc">เปรียบเทียบ 5 Jobboard ยอดนิยม สำหรับหา ‘พนักงาน’ ในประเทศไทย</span>
          </div>
         
        </div>
        <div class="grid-right-control d-none d-md-flex">
          <youtube-player videoId="mzomUhNCWoA" class="my-auto mx-auto w-100" (click)="clickYoutube()"></youtube-player>
        </div>
      </div>
    </div>
  </div>
  <div class="section-6-control  d-none d-md-flex" id="section6">
    <!-- <div class="container d-flex flex-column">

      <div class="grid-control">
        <div class="d-flex flex-column grid-left-control">
          <span class="text-header-white">LICENSING</span>
          <img src="assets/images/home-sec-6-img-1.png" class="img-default mx-auto">
        </div>
        <div class="d-flex flex-column grid-right-control">

          <div class="d-flex grid-border-control my-auto flex-column">
            <img src="assets/images/home-sec-6-img-2.png" class="img-right mx-auto">
            <div class="border-control my-auto d-flex">
              <span class="text-desc">Explore the various way to drive your business to success with us. Explode your
                creativity with Hooop professional team and maximize the potential of your business.</span>
              <img src="assets/images/home-sec-6-img-3.png" class="img-grid my-auto">
            </div>

          </div>

        </div>
      </div>
    </div> -->
    <img src="assets/images/mobile/home/section-6-1.png" class="img-control">
  </div>
  <div class="section-6-mobile-control d-flex d-md-none">
    <img src="assets/images/mobile/home/section-6-1.png" class="img-control">
  </div>
  <div class="section-7-control" id="section7" *ngIf="jsonOurClient">
    <div class="container  d-flex flex-column">
      <span class="text-header-red">OUR <span class="text-header-secondary">CLIENTS</span></span>
      <div class="client-carousel">
        <div class="carousel-grid-control" *ngFor="let img of jsonOurClient">
          <img src="assets/images/our-client/{{img.title}}.png" class="img-client">
        </div>
      </div>
    </div>
  </div>

</div>
