<app-header id="header"></app-header>
<div class="container-fluid bg-header-control">

  <div class="container d-flex flex-column bg-content-control">
    <h1 class="text-header">ธุรกิจสีดอกเลา กลุ่มคนกำลังซื้อสูงที่ถูกมองข้าม</h1>
    <img src="assets/images/articles/article-1/img-cover.jpg" class="img-article mx-auto"> <br>
    <h2 class="text-desc-header">“สังคมสูงอายุ”</h2>

    <span class="text-desc">เมื่อพูดถึงคำนี้ คนส่วนใหญ่จะคิดถึง ความโรยรา ความร่วงโรย การเสื่อมสภาพ
      แต่จริงๆแล้วคนกลุ่มนี้ถือเป็นขุมทรัพย์ที่มีคุณค่า สำหรับหลายธุรกิจ เพราะมีกำลังซื้อที่ค่อนข้างสูง
      นอกจากกำลังซื้อที่สูงแล้ว อ้างอิงช้อมูลจากธนาคารกรุงเทพ <span class="text-desc-bold">ภายในปี 2021
        ประเทศไทยจะเข้าสู่สังคมผู้สูงอายุอย่างสมบูรณ์อีกด้วย นั่นหมายความว่า ประเทศไทยจะมีประชากรอายุสูงกว่า 60 ปี
        เป็นจำนวนมากกว่า 20% ของประชากรทั้งหมด</span>
      อย่างที่ทราบกันดีว่า คนที่ทำงานในสายการตลาดส่วนใหญ่ มีอายุอยู่ในช่วง generation x และ y (อายุประมาณ 24 - 45 ปี)
      ซึ่งคนเหล่านี้ อยู่ในคนละช่วงอายุกับสังคมผู้สูงอายุ ทำให้ข้อความที่ถูกส่งไปหาคนกลุ่มเป้าหมายนี้ บางครั้งก็ตกหล่น
      หรือไปไม่ถึงพวกเขาจาก opportunity gap ในส่วนนี้พวกเราชาว Hooopster เห็นว่า
      ถ้ามีความเข้าใจในพฤติกรรมผู้บริโภคของกลุ่มสังคมสูงอายุ จะสร้างโอกาสให้อีกมากมายในธุรกิจที่กำลังเติบโต
    </span>

    <span class="text-desc"> <span class="text-desc-bold">1. Channel</span><br>
    <img src="assets/images/articles/article-1/img-1.jpg" class="img-article mx-auto"> <br>
      แน่นอนว่า <span class="text-desc-bold">คนในกลุ่มนี้ยังคงนิยมใช้ mass media อย่าง ทีวีและวิทยุอยู่เช่นเดิม</span>
      อย่างไรก็ตามหากจะกล่าวว่า Digital Era ไม่ interrupt การบริโภคสื่อก็คงจะไม่ถูกเสียทีเดียว
      คนในสังคมผู้สูงอายุค่อนข้างมีการปรับตัวให้เข้ากับเทคโนโลยีในปัจจุบันโดยมีการใช้ช่องทาง social media หลักๆ เช่น
      <span class="text-desc-bold">Facebook</span> และ <span class="text-desc-bold">Line</span> เป็นต้น
      ในการติดต่อสื่อสารกับเพื่อนในวัยเดียวกันหรือเหล่าลูกหลาน
      อาจมีการสร้างกลุ่มเฉพาะสำหรับเพื่อนๆ ของตนเองเพื่อพบปะสังสรรค์พูดคุยกัน
    </span>

    <span class="text-desc"><span class="text-desc-bold">2. Message</span><br>
    <img src="assets/images/articles/article-1/img-2.jpg" class="img-article mx-auto"> <br>
      <span class="text-desc-bold">คนในสังคมผู้สูงอายุจะเสพย์ข่าวจากสื่อหลักเป็นหลัก</span>
      โดยจะให้ความเชื่อถือกับสื่อเหล่านั้น
      และนำเอามาอ้างเป็นแหล่งข้อมูล นอกจากพวกเขาจะเสพย์สื่อผ่านช่องทางหลักอย่างโทรทัศน์แล้ว Facebook Page
      ก็ถือเป็นอีกหนึ่งช่องทางในการเสพย์ข่าวที่นิยมถูกใช้ โดยคุณจะสามารถเห็นได้จาก comment ตามเพจข่าวจากสื่อหลักอย่าง
      The Standard หรือ เรื่องเล่าเช้านี้
      แต่ถ้าหากมองในด้านของธุรกิจให้ความบันเทิง
      คนกลุ่มนี้จะรับชมรายการทีวีเป็นหลักโดยหนึ่งในรายการที่ได้รับความนิยมมากที่สุดก็คงหนีไม่พ้น เหล่ารายการร้องเพลง
      ไม่ว่าจะเป็น กิ๊กดู๋สงครามเพลงเงินล้าน หรือ I can see your voice
      สิ่งที่เสริมขเข้ามาจากการชมรายการทีวีเหล่านี้ผ่านทางโทรทัศน์ คือการดูทีวีย้อนหลัง ผ่านเว็บไซต์หรือ application
      เช่น bugadoo tv เป็นต้น
      <br>
      <br>
      บริการ Streaming ไม่ว่าจะเป็นด้านเพลงหรือหนัง ยังเป็นที่ผลิตภัณฑ์ที่ค่อนข้างไม่ได้รับความนิยม
      ในกลุ่มสังคมผู้สูงอายุหากมีการปรับวิธีการใช้หรือรายการและวิธีการสมัครให้ซับซ้อนน้อยลงและเป็นมิตรมากขึ้น
      อาจช่วยให้ดึงดูด Subscription จากกลุ่มสังคมผู้สูงอายุได้
      <br>
      <br>
      <span class="text-desc-bold">สิ่งที่จะทำให้คนในช่วงอายุนี้หยุดอ่านได้คือข้อความเชิง result-oriented หรือเรียกอีกอย่างว่า
      การกล่าวถึงผลลัพธ์ของใช้ผลิตภัณฑ์</span> มากไปกว่านั้นในส่วนของการดีไซน์ ควร focus ไปที่ functions มากกว่า Creativity
    </span>
    <span class="text-desc">
      <span class="text-desc-bold">3. Interests</span> <br>
      <img src="assets/images/articles/article-1/img-3.jpg" class="img-article mx-auto"> <br>
      แน่นอนว่าสิ่งที่คนกลุ่มนี้ให้ความสนใจ ส่วนใหญ่จะเป็นใน<span class="text-desc-bold">เรื่องของสุขภาพ อาหาร และอาหารเสริม</span>
      สินค้าและบริการที่ถูกเลือกส่วนใหญ่ จะมีปัจจัยด้านสุขภาพและการผ่อนคลายเข้ามาเกี่ยวข้อง
      การท่องเที่ยวก็ถือเป็นอีกหนึ่งบริการยอดฮิต ที่ได้รับความนิยมในหมู่สังคมผู้สูงอายุ
      โดยเฉพาะอย่างยิ่งสถานที่ท่องเที่ยวที่มีการอำนวยความสะดวกให้กับผู้สูงอายุ
      ส่วนใหญ่แล้ว คนสูงอายุจะรับแบรนด์เข้าสู่ Consideration Process ผ่าน โฆษณา บน Facebook และ โทรทัศน์ Word of Mouth
      หรือการบอกเล่าปากต่อปากถือเป็นอีกหนึ่งเครื่องมือที่ทรงอาณุภาพ สำหรับกลุ่มเป้าหมายนี้ผู้สูงอายุส่วนใหญ่มักจะมี
      loyalty กับแบรนด์ที่ตนเองชื่นชอบโดยจะไม่ค่อยเปลี่ยนใจไปใช้แบรนด์อื่น ดังนั้นถ้าสินค้าของคุณ​ยังมี potential
      ในการเป็น top of mind ในกลุ่มสังคมผู้สูงอายุการพัฒนาไปแนวทางดังกล่าว ถือเป็นโอกาสที่ไม่ควรพลาด มากไปกว่านั้น
      ตัวผู้สูงอายุ ยังมีโอกาสในการส่งต่อหรือบอกเล่าแบรนด์ที่ตนเองชื่นชอบให้กับรุ่นลูกรุ่นหลานอีกด้วย

      ถ้าหากเข้าใจ ในพฤติกรรมของพวกเขาแล้วพวกเราชาว Hooopster เชื่อว่าการทำการตลาดในสังคมผู้สูงอายุ
      จะไม่ใช่เรื่องน่าเบื่ออย่างที่คุณคิด

    </span>

    <span class="text-desc-no-indent"><span class="text-desc-bold">บทวิเคราะห์ เจ๋งๆ พร้อมข่าวสารและสาระด้านการตลาดดีๆ
        รอคุณอยู่ที่</span> <a href="https://hooop.io">hooop.io</a></span>

  </div>
</div>
