<app-header id="header"></app-header>
<div class="container-fluid bg-header-crypto">
  <div class="container container-padding-control d-flex flex-column">
    <h1 class="text-header-white">CRYPTOWEALTH</h1>
    <span class="text-sub-header-white">What is cryptowealth</span>
    <div class="grid-control">
      <div class="img-logo-control d-flex">
        <img src="assets/images/cryptowealth/logo-cryptowealth.png" class="my-auto img-logo-crypto">
      </div>
      <div class="d-flex flex-column">
        <span class="text-desc">CryptoWealth is a platform where you can find daily updated news of cryptocurrency. Not
          only domestic crypto market but at CryptoWealth, there is useful information from sources around the
          world.</span>
          <button class="btn button-crypto" (click)="gotoCryptoWealth()">Go to CryptoWealth</button>
      </div>
      <img src="assets/images/cryptowealth/icon-crypto.png" class="my-auto img-icon mx-auto">

    </div>
  </div>

</div>
