
$primary-color: #B01F24;
$secondary-color: #063348;
$gray70 : #707070;
$bluesoft : #0E7EB2;
$softgray: #959595;
$text-black : #000000;
$pink-shark: #FE77B7;


//font-size

$header-menu-size: 80px;
$sub-header: 60px;
$text-description-size: 26px;

@include media-breakpoint-down(md){
    $header-menu-size: 40px;
}
