<div class="footer-banner-control d-flex">
    <img src="assets/images/footer-red-banner.png" class="img-footer-banner mx-auto"  (click)="clickAddLINE()">
  </div>
<div class="container-fluid footer-control" id="Footer">

  <div class="container container-control d-flex flex-column">
  

    <div class="grid-control">
      <div class="grid-right-control d-flex flex-column">


        <div class="grid-address-control">
          <div class="d-flex flex-column">
            <span class="text-contact-header">CONTACT US</span>
            <span class="text-address">597/5 SUKHUMVIT 35, SUKHUMVIT ROAD, KLONGTON-NUA, WATTANA, BANGKOK 10110,
              THAILAND</span>
            <div class="text-contact-control">
              <img src="assets/images/footer/footer-tel.png" class="img-contact">
              <span class="text-contact"><a class="text-contact" href="tel:020774667" (click)="clickTel1()">02 077
                  4667</a>
                , <a class="text-contact" href="tel:0926526623" (click)="clickTel2()">092 652 6623</a></span>
            </div>
            <div class="text-contact-control">
              <img src="assets/images/footer/footer-email.png" class="img-contact">
              <a class="text-contact" href="mailto:hooop@hooop.io">hooop@hooop.io</a>
            </div>
            <div class="d-flex">
              <img class="img-social" src="assets/images/footer/footer-facebook.png" (click)="clickFacebook()">
              <img class="img-social" src="assets/images/footer/footer-ig.png" (click)="clickIg()">
              <img class="img-social" src="assets/images/footer/footer-line.png" (click)="clickAddLINE()">
            </div>
          </div>
          <div class="d-flex flex-column">
              <img src="assets/images/logo-white-big.png" class="img-logo-hooop-white">
            <img src="assets/images/footer/footer-map.png" class="ml-auto map" (click)="clickMap()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
