@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../../../config";

app-footer {

  .footer-control {
    padding-top: 20px;
    background-color: $secondary-color;
    min-height: 500px;
    padding-bottom: 80px;
    background: $secondary-color url('../../../assets/images/footer-bg.png') no-repeat;
    background-size: contain;
    background-position: center right;
  }


  .footer-banner-control{
    background-color: $primary-color;
    padding-top: 16px;

    .img-footer-banner{
      cursor: pointer;
      width: 60%;
      height: auto;
      object-fit: contain;
    }
  }

  .img-logo-hooop-white{
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-left: auto;

    @include media-breakpoint-down(md){
      margin-left: 0;
      margin-top: 30px;
      width: 150px;
    }
  }


  .container-control {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .text-header-red {
    font-size: $header-menu-size;
    color: $primary-color;
    font-family: "Bold";
  }

  .text-header-white {
    font-size: 30px;
    color: white;
    font-family: "Medium";
  }

  .grid-control {
    display: grid;
    grid-template-columns: 100%;

    .grid-right-control {

      .img-logo {
        margin-left: 40px;
        width: 250px;
        height: 80px;
        object-fit: contain;
      }
      .text-contact-header {
        margin-top: 40px;
        font-size: 50px;
        color: white;
        font-family: "Medium";
        @include media-breakpoint-down(md){
          margin-top: 0px;
        }
      }
      .text-address {
        margin-top: 8px;
        margin-bottom: 25px;
        font-size: 26px;
        color: white;
        font-family: "Medium";
      }

      .grid-address-control {
        margin-left: 40px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 50% 50%;

        .map {
          margin-top: 30px;
          width: 450px;
          height: auto;
          margin-left: auto;
          object-fit: contain;

          @include media-breakpoint-down(md){
            width: 70%;
            margin-left: 0;
          }
        }

        .img-social {
          width: 40px;
          margin-top: 16px;
          margin-left: 8px;
          margin-right: 8px;
          cursor: pointer;
          height: 40px;
          object-fit: contain;
          @include media-breakpoint-down(md){
            width: 25px;
            height: 25px;
          }
        }

        .text-contact-control {
          display: grid;
          grid-template-columns: 10% 90%;

          .img-contact {
            width: 50px;
            height: 50px;
            object-fit: contain;
            @include media-breakpoint-down(md){
              width: 25px;
              height: 25px;
              margin-top: auto;
              margin-bottom: auto;
            }
          }

          .text-contact {
            cursor: pointer;
            font-size: 26px;
            color: white;
            font-family: "Medium";
            text-decoration: none;
          }

        }

        @include media-breakpoint-down(md){
          grid-template-columns: 100%;
        }
      }
    }
  }

}
